<footer class="text-center p-2">
    Jhon Jairo Goyes - {{getAnho}}
</footer>
              
    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>