{{> head }}   
{{> navbar }} 

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h1>Portafolio - {{ capitalizar nombre}} </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores delectus explicabo cum laboriosam nulla repellat voluptatibus ullam temporibus beatae voluptatem, neque dolorum libero quam est dicta ea aut, quasi distinctio?</p>
        </div>
        <div class="col-4 text-right">
            <img width="200" src="assets/img/foto.jpg" class="rounded img-thumbnail">
        </div>
    </div> 
</div>


    
    
{{> footer }}